div {
  text-align: center;
}
 
.flecha{
  width: 80px;
  height: 100px;
  margin: 5% 5%;
} 

.imagen-alarma {
  width: 80%;
}

.boton-alarma {
  height: 250px;
  width: 250px;
}

.protegido {
  margin-top: 20%;
  color: white;
  font-size: large;
  height: 270px;
}

#info-text{
  text-align: center;
  margin-top: 5%;
  font-size: larger;
}

.fondo-rojo {
  --ion-background-color: #d10f0f;
}

.fondo-negro {
  --ion-background-color: #000000;
}